.nav-connect {
    position: relative;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #376E6F 0%, #DA7B93 102%);
    font-size: 22px;
    cursor: pointer;
    overflow: hidden; /* Ensures that pseudo-element does not extend outside */
    transition: transform 0.5s ease; /* Transition for transform */
    color: #D8D8D8; /* Ensures text color is visible */
    z-index: 0; /* Base layer z-index */
    border: none;
}

.nav-connect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(267deg, #2E151B  0%, #1C3334 102%);
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    z-index: -1; /* Behind the text */
}

.nav-connect:hover::after {
    color: #376E6F;
    opacity: 1;
}

.nav-connect:hover {
    transition: 0.5s;
    transform: scale(1.05);
    color: #DA7B93;
}
